@model System.Collections.Generic.IEnumerable<string>

<div id="myCarousel" class="carousel" data-ride="carousel" style="margin-left:20px;">
    <!-- Icones used in the carousel -->


    <div class="carousel-inner">
        @{
            var list = Model as IList<string>;
            var items = list.Take(Model.Count());
            var iterations = 0;
        }
        @while (items.Count() > 0 && iterations < 4)
        {
            var active = iterations == 0 ? "active" : "";

            <div class="item @active">
                    @foreach (var item in items)
                    {
                        <div class="item active">
                           <img src="@Url.Content(@item)" width="150" height="100">
                        </div>
                    }
            </div>

            iterations++;
            //items = list.Skip(Model.Count() * iterations).Take(6);
        }
    </div>
    <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
    <a data-slide="next" href="#media" class="right carousel-control">›</a>
    
</div>