@{
    ViewBag.Title = "About MyAveiro";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here you can learn a little bit more about Aveiro city and get the oportunity of falling in love with her.</p>
