@{
    ViewBag.Title = "Aveiro";
}
<div class="container">
    <div class="row">
        @Html.Partial("~/Views/Shared/_SideBar.cshtml")

        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Aveiro
                <small> Interest Points</small>
            </h1>
            <img src="~/Images/av1.jpg" alt=" image" width="450" height="325" style=" margin: auto auto; display:block"/>
            <br />
            <ol class="breadcrumb">
                <li>
                    <p> Aveiro é a capital da Arte Nova e é muito conhecida pelos seus ovos moles e pelos moliceiros. Esses são pontos muito fortes da cultura aveirense, mas não pense que em uma visita a Aveiro se deve limitar a apreciar os edifícios Arte Nova, provar os ovos moles e fazer um passeio de moliceiro pelos canais da Ria.</p>
                </li>

                <li>
                    1º Visitar as salinas de Aveiro. Aveiro é uma região como enorme tradição no salgado. Bem perto do centro de Aveiro poderá visitar o Eco Museu da troncalhada.
                    <br />
                </li>
                <li>
                    2º Visitar a Praia da Costa Nova. A Praia da Costa nova é conhecida pelos seus palheiros coloridos com riscas verticais. Um passeio pela marginal junto à ria é altamente recomendado assim como provar uma tripa ou bolacha americana feita na hora numa das muitas barraquinhas que se encontram ao longo da avenida.
                    <br />
                </li>
                <li>
                    3º Depois de visitar a Costa Nova não desperdice a oportunidade de conhecer o Farol de Aveiro na praia da barra. Este é o maior farol de Portugal e o 2º maior da Península Ibérica.
                    <br />
                </li>
                <li>
                    4º Aproveitando que está na zona das praias e a fome já deverá estar a aparecer. A sugestão passa por uma visita à praia da Vagueira para provar os famosos hamburgers do Alemão. Os hamburgers são gigantes e podem ser acompanhados de tradicionais cervejas alemãs. Muito barato e uma verdadeira delícia.
                    <br />
                </li>
                <li>
                    5º Claro que depois de ingerir muitas calorias no Alemão a proposta terá de ser mais saudável. Ai recomendamos o regresso à cidade de Aveiro e um passeio de BUGA (Bicicleta de Utilização Gratuita de Aveiro. Este passeio de BUGA será o ideal para apreciar as diversas casas de Arte Nova que se encontram no centro da cidade.
                    <br />
                </li>
                <li>
                    6º Após o cansaço do passeio de BUGA, aproveite para fazer um passeio de barco moliceiro. Existem diversos trajectos e diversas empresas de passeios de barcos moliceiros que poderá escolher para conhecer melhor os canais da Ria de Aveiro. O passeio de moliceiro é obrigatório na visita a Aveiro e de certeza que será um momento alto desta visita.
                    <br />
                </li>
                <li>
                    7º Após o passeio de moliceiro aconselhamos uma visita a Ílhavo onde poderão ver o museu marítimo e aquário de bacalhaus (único no nosso país). Poderá também dar “um salto” à Vista Alegre onde poderá apreciar os edifícios do bairro dos trabalhadores, a fábrica e o museu da Vista Alegre.
                    <br />
                </li>
                <li>
                    8º Para terminar a visita e se ainda tiver algum tempo disponível, desloque-se à praia de São Jacinto e aprecie a magnifica paisagem da reserva natural das dunas de São Jacinto. Um excelente local para ver aves e fauna da região.
                    <br />
                </li>

                <br />
                <br />
                <p> Aqui apontamos 8 pontos de interesse que poderá apreciar em uma visita a Aveiro, no entanto há muitos mais e dos mais diversos. Em próximos artigos vamos publicar outros pontos de interesse para que tenha uma excelente estadia em Aveiro. </p>

            </ol>
        </div>
    </div>
</div>




