@{
    ViewBag.Title = "Aveiro";
}
<div class="container">
    <div class="row">
        @Html.Partial("~/Views/Shared/_SideBar.cshtml")

        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Aveiro
                <small> Interest Points</small>
            </h1>
            <img src="~/Images/av1.jpg" alt=" image" width="450" height="325" style=" margin: auto auto; display:block"/>
            <br />
            <ol class="breadcrumb">
                <li>
                    <p> Aveiro is the capital of Art Nouveau and is well known for its "ovos moles" and the "moliceiros". These are the strongest points of Aveiro culture, but don't think that a trip to Aveiro must be limited to enjoy the Art Nouveau buildings, taste the "ovos moles" and make a "moliceiro" ride through the lagoon (Ria de Aveiro) channels..</p>

                </li>

                <li>
                    1º Visit Aveiro's salinas. Aveiro is a region with great tradition in the salt. Very close to the center of Aveiro can visit the Eco Museum of Troncalhada.
                    <br />
                </li>
                <li>
                    2º Visit the Costa Nova Beach. Costa Nova Beach is known for its colorful barns with vertical stripes. A walk through the waterfront of the lagoon (Ria de Aveiro) is highly recommended as well as proving an "Bolacha ou Tripa Americana", made to order one of the many stores that are found along the avenue.
                    <br />
                </li>
                <li>
                    3º After visiting Costa Nova Beach don't miss the opportunity to meet the "Farol da Barra", ate the Barra Beach. This is the largest lighthouse in Portugal and the 2nd largest in the Iberian Peninsula.
                    <br />
                </li>
                <li>
                    4º Taking advantage of being in the beach area and considering that you might be hungry, the  suggestion goes through a visit to the Vagueira Beach to taste the famous hamburgers of "Alemão" restaurant. The hamburgers are giants and may be accompanied by traditional German beers. Very cheap and a real delight.
                    <br />
                </li>
                <li>
                    5º Of course after ingesting too many calories in the "Alemão", the proposal will need to be healthier. We recommend the return to Aveiro and the BUGA tour (Bike Free Use of Aveiro). This BUGA tour will be the ideal place to enjoy the various houses of Art Nouveau found in the city center.
                    <br />
                </li>
                <li>
                    6º After the exhaustion of the BUGA ride, take the time to make a moliceiro boat ride. There are several routes and several companies that make moliceiros tours and so you can learn more about the channels of the Ria de Aveiro. The moliceiro ride is mandatory in visit to Aveiro and sure will be a highlight of this visit.
                    <br />
                </li>
                <li>
                    7º After moliceiro ride with recommend a visit to Ilhavo where you can see the maritime museum and aquarium cod (only in our country). You can also take visit the Vista Alegre where you can enjoy the buildings of the workers' neighborhood, the factory and museum of Vista Alegre.
                    <br />
                </li>
                <li>
                    8º To end the visit and if you still have some time available, scroll down to the beach of Sãp Jacinto and enjoy the magnificent landscape of the Reserva Natual das Dunas de São Jacinto. A great place to watch birds and fauna of the region.
                    <br />
                </li>

                <br />
                <br />
                <p> 
                    Here we point 8 points of interest which can be seen on a visit to Aveiro, however there are many more and more diverse.</p>
                <p>
                    <a href="http://www.funceramics.pt/8-pontos-de-interesse-numa-visita-a-aveiro/">Visit source page!</a>
                </p>


            </ol>
        </div>
    </div>
</div>




